* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: #eee;
  font-size: 1rem;
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #424348;
  align-items: center;
  justify-content: center;
}

.screen {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: #47484B;
  height: 80vh;
  max-height: 80vh;
  width: 80%;
  max-width: 800px;
  border-radius: 0.8rem;
}

.header,
.footer {
  padding: 1rem;
}

.header {
  border-bottom: 2px solid #4B4D54;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: hidden;
}

.ig-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.daytime {}

.season {}

.content {
  overflow-y: scroll;
  padding: 0 1rem 1rem;
}

.footer {
  border-top: 2px solid #4B4D54;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
}